/* ----------------- Reset CSS ----------------- */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    backdrop-filter: blur(30px);
    background-image: url('./imgs/fundo.jpg');
    background-size: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Nunito Sans", sans-serif;
}

header {
    min-width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(250, 250, 250, .3); */
    padding: 20px 40px 10px;
    /* border-radius: 30px; */
    margin-top: 30px;
    border-bottom: rgba(255, 255, 255, 0.5) 2px solid;
}

.logo{
    width: 131px;
    position: absolute;
}

nav {
    display: flex;
    width: 100%;
    justify-content: end;
}

nav ul {
    display: flex;
}

nav li a {
    padding: 0 15px;
    font-weight: 800;
    font-size: 20px;
    color: #fff;
    transition: color 0.3s ease-in-out;
    position: relative;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

nav li a:visited {
    color: #fff;
}

nav li:hover a {
    color: #1e9107;
}

nav li a::after {
    content: "";
    border-bottom: #1e9107 solid 3px;
    height: 30px;
    position: absolute;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: .5s;
}

nav li:hover a::after {
    transform: scaleX(.5);
    transition: .5s;
}
.content {
    /* background-color: aliceblue; */
    max-width: 1080px;
    padding: 40px 40px 10px;
}

.hero-banner {
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #45f053; */
}

.text-banner {
    width: 38%;
    /* background-color: #053309; */
}

.text-banner > h1 {
    margin-bottom: 5px;
    color: #fff;
}

.tittle-1 {
    font-size: 59px;
    font-weight: 500;
}

.tittle-2 {
    display: block;
    margin-top: -10px;
    font-size: 49px;
    font-weight: 600;
}

.text {
    font-size: 20px;
    line-height: 1.4;;
    font-weight: 500;
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.botoes > button{
    padding: 10px 25px;
    font-size: 15px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    transition: color 0.2s ease-in-out, background-color .8s ease-out,  outline-offset 0.1s ease-in-out;
}

.botoes > button:hover {
    transition: color 0.2s ease-in-out, background-color .8s ease-out,  outline-offset 0.1s ease-in-out;
}

.btn-1 {
    background-color: #0faf1c;
    color: #053309;
    outline: #053309 solid 3px;
    outline-offset: 5px;
}

.btn-1:hover {
    /* background-color: #07470c; */
    color: #fff;
    outline: #053309 solid 3px;
    outline-offset: 2px;
}

.btn-2 {
    background-color: #e75022;
    color: #630d06;
    outline: #630d06 solid 3px;
    outline-offset: 5px;
}

.btn-2:hover {
    /* background-color: #630d06; */
    color: #fff;
    outline: #630d06 solid 3px;
    outline-offset: 2px;
}

.img-banner{
    width: 55%;
}

.sec-cards .tittle {
    padding: 40px 0;
    text-align: center;
    color: #fff;
    font-weight: 500;
}

.sec-cards .tittle h2 {
    font-size: 80px;
}

.sec-cards .tittle p {
    margin-top: -25px;
    font-size: 42px;
}

.cards {
    padding-top: 20px;
    /* background-color: salmon; */
    display: flex;
    gap: 35px;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}

.content-cards {
    background-color: rgba(250, 250, 250, .3);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-cards img {
    margin-top: -20px;
    width: 90%;
    transition: transform 0.3s;
}

.infos {
    /* background-color: seagreen; */
    width: 70%;
    margin: 0 0 20px 0;
}

.nota {
    width: 100px;
    padding-left: 15px;
    margin-top: 15px;
    margin-left: -20px;
    border-radius: 30px;
    background-color: rgba(255, 145, 2, 0.952);
    font-size: 20px;
    color: #f8d409;
}

.estrela {
    font-size: 30px;
}

.infos > h3 {
    font-size: 23px;
    padding: 5px 0;
    font-weight: 750;
}

.descricao {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.1;
}

.card-rodape {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 750;
}

.plus {
    background-color: #2e9405;
    font-size: 18px;
    color: #fff;
    font-weight: 800;
    padding: 0px 7px;
    border-radius: 100px;
}

.card1, .card3 {
    max-width: 290px;
}

.card2 {
    /* margin-top: -50px; */
    width: 60%;
}

.card2 img {
    width: 93%;
}

.card2 h3 {
    
    font-size: 28px;
}

.card2 p {
    
    font-size: 20px;
}

.card2 .card-rodape {
    padding-top: 30px;
}

.card2 .plus {
    padding: 0px 8px;
}

.content-cards:hover img {
    transform: translateY(-20px);
    transition: transform 0.3s ease-in-out;
}

.destaque {
    /* background-color: #ebaf0b; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.img-dest {
    margin-left: -80px;
}

.text-dest > h3 {
    padding: 10px 0;
    font-size: 45px;
    text-align: center;
    color: #fff;
}

.tit-dest-1 {
    line-height: 1;
    font-size: 36px;
}

.tit-dest-2 {
    font-size: 63px;
    display: block;
    margin-top: -10px;
}

.tit-dest-3 {
    padding-top: 15px;
    color: #05cc05;
    height: 60px;
}

.tit-dest-4 {
    margin-top: 0px;
    color: #ee660b;
}

.tit-dest-3, .tit-dest-4 {
    display: block;
    font-weight: 900;
    background-color: rgba(240, 248, 255, 0.795);
    border-radius: 30px;
}

.text-dest > p {
    padding: 0 25px 15px;
    margin-top: -10px;
    text-align: center;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 400;
    color: #272727;
    background-color: rgba(240, 248, 255, 0.795);
    border-radius: 30px;
}

.our-serv {
    font-size: 30px;
    text-align: center;
    color: #fff;
}

.nav-footer {
    display: flex;
    justify-content: space-between;
}

.nav-footer > li {
    display: flex;
}

.nav-footer > li > a {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #000;
}

.nav-footer > li > a:hover {
    color: #fff;
}